<nav>

    {% if is_granted('ROLE_EDITOR') %}
        <div class="admin-navbar">
            <div class="wrapper">
                <div class="menu">
                    <ul class="navigation-links">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="button-tertiary button-white" href="{{ path('app_admin_users') }}"><span>Utilisateurs</span></a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_EDITOR') %}
                            <li>
                                <a class="button-tertiary button-white" href="{{ path('app_trick_index') }}"><span>Tricks</span></a>
                            </li>
                            <li>
                                <a class="button-tertiary button-white" href="{{ path('app_specificity_index') }}"><span>Decriptif <span class="hide-on-mobile">technique</span></span></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="navbar">
        <div class="wrapper">
            <div class="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('images/snowtricks-logo.svg') }}" alt="">
                    Snow<span style="color: var(--clr-dark-blue); font-weight: 300;">tricks</span>
                </a>
            </div>
            <div class="menu">
                <ul class="navigation-user">
                    {%if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li>
                            <a class="button-primary button-black" href="{{ path('app_logout') }}">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i><span>Déconnexion</span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="button-secondary button-black" href="{{ path('app_register') }}">
                                <i class="fas fa-user-plus" aria-hidden="true"></i><span>Inscription</span>
                            </a>
                        </li>
                        <li>
                            <a class="button-primary button-blue" href="{{ path('app_login') }}">
                                <i class="fas fa-sign-in-alt" aria-hidden="true"></i><span>Connexion</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>