<div class="navbar">
    <div class="wrapper">
        <div class="logo">
            <a href="/">
            <img src="{{ asset('images/snowtricks-logo.svg') }}" alt="">
                Accueil
            </a>
        </div>
        <div class="menu">
            <div class="navigation-links">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_users') }}">Utilisateurs</a>
                {% endif %}
                {% if is_granted('ROLE_EDITOR') %}
                    <a href="{{ path('app_trick_index') }}">Tricks</a>
                    <a href="{{ path('app_specificity_index') }}">Decriptions techniques</a>
                {% endif %}
            </div>
            <div class="navigation-users">
                {%if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>