{% extends 'base.html.twig' %}

{% block title %}Specificity index{% endblock %}

{% block body %}
    <h1>Specificity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Icon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specificity in specificities %}
            <tr>
                <td>{{ specificity.id }}</td>
                <td>{{ specificity.name }}</td>
                <td>{{ specificity.description }}</td>
                <td>{{ specificity.icon }}</td>
                <td>
                    <a href="{{ path('app_specificity_show', {'id': specificity.id}) }}">show</a>
                    <a href="{{ path('app_specificity_edit', {'id': specificity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_specificity_new') }}">Create new</a>
{% endblock %}
