{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}

    {% set actions %}
        <section class="actions-section">
            <div class="actions">
                <a class="button-primary button-black" href="{{ path('app_admin_users') }}"><i class="fas fa-arrow-left"></i>Retour</a>
            </div>
        </section>
    {% endset %}

    {% include 'partials/banner.html.twig' with { background_image: 'mountains-2.jpg', title: block('title') } %}

    <section class="edit-section section-spacing">
        <div class="wrapper wrapper-small">

            {{ form_start(userForm) }}
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.roles) }}
                {{ form_row(userForm.submit) }}
            {{ form_end(userForm) }}

        </div>
    </section>

{% endblock %}
