{% extends 'base.html.twig' %}

{% block body %}

	{% include 'partials/banner.html.twig' with { wide: 'very-wide', background_image: 'mountains-3.jpg', title: 'Snowtricks', description: 'Partagez votre passion du snowboard avec une communauté de passionnés !', is_home: true } %}

	<main id="introduction" class="introduction" style="background-image: url('{{ asset('images/snowtricks-background.svg')}}');">
		<div class="wrapper">
			<h2 class="section-title">Bienvenue sur Snowtricks !</h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui deleniti voluptatem amet sapiente ullam voluptas delectus, quia ipsa consequatur aliquam expedita explicabo, praesentium deserunt! Porro amet animi voluptatum perspiciatis. Veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti, officiis veniam quasi, minima recusandae pariatur qui accusamus adipisci, facere maiores culpa labore animi hic consectetur. Distinctio animi accusantium perferendis.</p>
			<br>
			<p>Quod odio praesentium similique numquam fugit, blanditiis mollitia exercitationem dolorem cum officia voluptatum magnam reiciendis perferendis quibusdam repellendus adipisci eum maiores sint doloribus officiis molestias nemo distinctio. Cum, non natus.</p>
		</div>
	</main>

	<section class="archive" style="background-image: url('{{ asset('images/pine-trees-white-2.svg')}}');">
		<div class="wrapper">
			<h2 class="section-title white-logo">Tous les tricks</h2>
			<div class="tricks">
				{% for trick in tricks %}

					{% if trick.images|first %}
						<div class="trick" style="background-image: url('{{ asset('uploads/tricks/' ~ trick.images|first.name) }}');">
					{% else %}
						<div class="trick" style="background-image: url('{{ asset('images/' ~ placeholder_small) }}');">
					{% endif %}

							{% if is_granted('ROLE_EDITOR') %}
								<div class="actions">
									<a class="button-primary button-black" href="{{ path('app_trick_edit', {'id': trick.id}) }}">
										<i class="fas fa-pencil-alt"></i> Modifier
									</a>
								</div>
							{% endif %}

							<a href="{{ path('app_trick_show', {'id': trick.id}) }}" class="icon-spacing content">
								<h3 class="title"><i class="fas fa-snowboarding"></i> {{ trick.name }}</h3>
{#								<p class="description">{{ trick.id }}</p>#}
							</a>
						</div>
					{% else %}

							{# <div class="actions icon-spacing white">
								<a href="/article/modification/55">
									<i class="fas fa-edit" aria-hidden="true"></i>Modifier</a>
								<a href="/article/suppression/55">
									<i class="fas fa-trash" aria-hidden="true"></i>Supprimer</a>
							</div> #}

				{% endfor %}
			</div>
				{#    {{ dump(tricks) }}#}
				{# {% for trick in tricks %} #}
				{# <div> #}
				{# <a href="{{ path('app_trick_show', {'id': trick.id}) }}">{{ trick.name }} #}
				{# ({{ trick.id }})</a> #}
				{#            <a href="{{ path('app_tricks_details', { 'id' : trick.id }) }}">{{ trick.name }} ({{ trick.id }})</a>#}
				{#            <a href="/tricks/{{ trick.id }}">{{ trick.name }} ({{ trick.id }})</a>#}
				{# </div> #}
				{# {% endfor %} #}
		</div>
	</section>
	{% endblock %}
