{% extends 'base.html.twig' %}

{% block body %}

	{% include 'partials/banner.html.twig' with { wide: 'very-wide', background_image: 'mountains-3.jpg', title: 'Snowtricks', description: 'Partagez votre passion du snowboard avec une communauté de passionnés !', is_home: true } %}

	<main id="introduction" class="introduction section-spacing" style="background-image: url('{{ asset('images/snowtricks-background.svg')}}');">
		<div class="wrapper">
			<h2 class="section-title">Bienvenue sur Snowtricks&nbsp;!</h2>
            <p>Bienvenue sur SnowTricks, votre plateforme dédiée au snowboard et aux sports de glisse hivernaux ! Découvrez et maîtrisez les figures emblématiques de cette discipline grâce à nos tutoriels détaillés. Que vous soyez débutant ou rider expérimenté, plongez dans nos vidéos instructives, nos guides pas à pas et nos conseils pratiques pour perfectionner votre technique sur les pistes enneigées. Mais SnowTricks, c'est également une communauté vibrante de passionnés. Rejoignez-nous pour partager vos expériences, échanger des astuces et évoluer ensemble dans cet univers unique du snowboard. Préparez-vous à repousser vos limites et à vivre des sensations inoubliables avec SnowTricks, là où la glisse devient une passion partagée !</p>
            <br>
            <p>Explorez notre site pour des astuces, des techniques et une immersion totale dans le monde du snowboard. Devenez membre de notre communauté dynamique et laissez-vous emporter par l'excitation et la camaraderie que seul le snowboard peut offrir. Bienvenue sur SnowTricks, où chaque virage vous rapproche un peu plus de la perfection sur les pistes enneigées !</p>
		</div>
	</main>

	<section class="archive section-spacing" style="background-image: url('{{ asset('images/pine-trees-white-2.svg')}}');">
		<div class="wrapper">
			<h2 class="section-title white-logo">Tous les tricks</h2>

			{% if tricks is not empty %}
				<div class="tricks" id="tricks-container">
					{% set page = 1 %}
					{% set tricksPerPage = 4 %}
					{% set totalPages = (tricks|length/tricksPerPage)|round(0, 'ceil') %}

					{% for trick in tricks %}

						{% if trick.images|first %}
							{% set thumbnail = asset('uploads/tricks/' ~ trick.images|first.name) %}
						{% else %}
							{% set thumbnail = asset('images/' ~ placeholder_small) %}
						{% endif %}

						<div class="trick {{ page != 1 ? 'hide' : '' }}" style="background-image: url('{{ thumbnail }}');" data-page="{{ page }}">

							{% if is_granted('ROLE_EDITOR') %}
								<div class="actions">
									<a class="button-primary button-black" href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">
										<i class="fas fa-pencil-alt"></i> Modifier
									</a>
								</div>
							{% endif %}

							<a href="{{ path('app_trick_show', {'slug': trick.slug}) }}" class="icon-spacing content">
								<h3 class="title"><i class="fas fa-snowboarding"></i> {{ trick.name }}</h3>
							</a>
						</div>

						{% if loop.index is divisible by(tricksPerPage) %}
							{% set page = page + 1 %}
						{% endif %}

					{% endfor %}
				</div>

				<a class="button-primary button-blue" id="load-more-tricks" href="#" data-next-page="2" data-total-pages="{{ totalPages }}" >
					<i class="fas fa-eye"></i> Voir plus
				</a>

			{% else %}
				<div class="information">
					<p>Il n'y a aucun trick à afficher.</p>
				</div>
			{% endif %}

		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/load-more-tricks.js') }}"></script>
{% endblock %}