{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello !</h1>
    <h2><a href="/tricks">Tricks</a></h2>
    {{ dump(tricks) }}
    {% for trick in tricks %}
        <div>
            <a href="{{ path('app_tricks_details', { 'id' : trick.id }) }}">{{ trick.name }} ({{ trick.id }})</a>
{#            <a href="/tricks/{{ trick.id }}">{{ trick.name }} ({{ trick.id }})</a>#}
        </div>
    {% endfor %}
    <h2>{{ users }} users</h2>
    <h2>{{ comments }} comments</h2>
{% endblock %}
