
{{ include('trick/_specificity.html.twig') }}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{#    {{ dump(trick) }}#}
{#    {{ dump(trick.images) }}#}

{#    {% if specificities is not null and trick.id is not null %}#}
{#        {{ include('trick/_specificity.html.twig') }}#}
{#        #}{#        {% for specificity in specificities %}#}
{#        #}{#            <a href="{{ path('app_trick_add_specificity', { 'id': specificity.id }) }}"#}{##}{# data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"#}{##}{#>#}
{#        #}{#        {{ specificity.name }}#}
{#        #}{#        {{ specificity.description }}#}
{#        #}{#            </a>#}
{#        #}{#        {% endfor %}#}
{#    {% endif %}#}

    {% if app.request.attributes.get('_route') == 'app_trick_edit' %}
        {{ include('trick/_images.html.twig') }}
    {% endif %}

{#    {{ dump(trick) }}#}


{{ form_end(form) }}

    {#        {% for specificity in specificities %}#}
    {#            <a href="{{ path('app_trick_add_specificity', { 'id': specificity.id }) }}"#}{# data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"#}{#>#}
    {#        {{ specificity.name }}#}
    {#        {{ specificity.description }}#}
    {#            </a>#}
    {#        {% endfor %}#}