{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}

	{% include 'partials/banner.html.twig' with { background_image: 'mountains-1.jpg', title: block('title') } %}

	<main class="archive">
        <div class="wrapper">
        
            {% if is_granted('ROLE_EDITOR') %}
                <div class="actions">
                    <a class="button-primary button-black" href="{{ path('app_trick_new') }}"><i class="fas fa-pen-nib"></i>Ajouter un trick</a>
                </div>
            {% endif %}
            
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Création</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trick in tricks %}
                        <tr>
                            <td>{{ trick.id }}</td>
                            <td>{{ trick.name }}</td>
                            <td>{{ trick.creationDate ? trick.creationDate|date("m/d/Y") : '' }}</td>
                            <td>
                                <a class="button-primary button-blue" href="{{ path('app_trick_show', {'id': trick.id}) }}">
                                    <i class="fas fa-eye"></i> Voir
                                </a>
                                {% if is_granted('ROLE_EDITOR') %}
                                    <a class="button-primary button-black" href="{{ path('app_trick_edit', {'id': trick.id}) }}">
                                        <i class="fas fa-pencil-alt"></i> Modifier
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
