{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    {% if trick.images|first %}
        {% set banner_image, has_image = trick.images|first.name, true %}
    {% else %}
        {% set banner_image, has_image = placeholder, false %}
    {% endif %}

    {% set actions %}
        {% if is_granted('ROLE_EDITOR') %}
            <section class="actions-section">
                <div class="actions">
                    <a class="button-primary button-blue" href="{{ path('app_trick_index') }}"><i class="fas fa-snowboarding"></i>Tricks</a>
                    <a class="button-primary button-black" href="{{ path('app_trick_edit', {'slug': trick.slug}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a>
                    {{ include('trick/_delete_form.html.twig') }}
                </div>
            </section>
        {% endif %}
    {% endset %}

    {% include 'partials/banner.html.twig' with { wide: 'wide', background_image: banner_image, author: trick.user.email|split('@')[0]|capitalize, title: block('title'), has_image: has_image } %}

    {% if trick.images is not empty %}
        <section class="images-section section-spacing" style="background-image: url('{{ asset('images/snowtricks-background.svg')}}');">
            <div class="wrapper">
                <h2 class="section-title blue-logo">Images</h2>
                <div class="images">

                    {% for image in trick.images %}
                        <div class="image" style="background-image: url('{{ asset('/uploads/tricks/' ~ image.name) }}')" data-image="{{ asset('/uploads/tricks/' ~ image.name) }}">
                            {% if is_granted('ROLE_EDITOR') %}
                                <div class="actions">
                                    <a class="button-primary button-dark-red" href="{{ path('app_trick_delete_image', { 'id': image.id }) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    {% endif %}

    {% if trick.description is not null %}
        <section class="description-section section-spacing">
            <div class="wrapper wrapper-small">
                <h2 class="section-title white-logo">Détails</h2>
                <p>{{ trick.description|raw }}</p>
            </div>
        </section>
    {% endif %}

    {% if trick.specificities is not empty %}
        <section class="specificities-section section-spacing">
            <div class="wrapper">
                <h2 class="section-title no-logo">Descriptif technique</h2>

                {% if trick.specificities %}
                    <div class="specificities">
                        {% for specificity in trick.specificities %}
                            <div class="specificity background-image">
                                <img class="specificity-icon" src="{{ asset('/uploads/icons/' ~ specificity.icon ) }}" alt="">
                                <div class="description">
                                    <h3 class="title">{{ specificity.name }}</h3>
                                    <p>{{ specificity.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </section>
    {% endif %}

    {% if trick.video is not null and trick.video is not empty %}
        <section class="video-section section-spacing">
            <div class="wrapper">
                <h2 class="section-title white-logo">Vidéo</h2>
                <div>
                    <iframe src="https://www.youtube.com/embed/{{ trick.video }}"></iframe>
                </div>
            </div>
        </section>
    {% endif %}

    {% set page = 1 %}
    {% set commentsPerPage = 3 %}
    {% set totalPages = (trick.comments|length/commentsPerPage)|round(0, 'ceil') %}

    <section class="comments-section section-spacing" style="background-image: url('{{ asset('images/pine-trees-very-dark-blue-2.svg')}}');">
        <div class="wrapper wrapper-small">

            <div class="title-header">
                <h2 class="section-title white-title very-dark-blue-logo">Commentaires</h2>

                {% if trick.comments|length > commentsPerPage %}
                    <div class="actions comments-pagination" id="comments-pagination" data-total-pages="{{ totalPages }}" data-current-page="1">
                        <p class="pagination-number"><span id="current-page-number">1</span><span>/{{ totalPages }}</span></p>
                        <a class="button-primary button-white hide" id="load-previous-comments" href="#">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        <a class="button-primary button-white" id="load-next-comments" href="#">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                {% endif %}
            </div>

            {% if trick.comments is not empty %}
                <div class="comments" id="comments-container">

                    {% for comment in trick.comments|reverse %}
                        <div class="comment {{ page != 1 ? 'hide' : '' }}" data-page="{{ page }}">
                            <div class="header">
                                <p class="username icon-spacing"><i class="fas fa-user" aria-hidden="true"></i>{{ comment.user.email|split('@')[0]|capitalize }}</p>

                                {% if is_granted('ROLE_EDITOR') %}
                                    <div class="actions">
                                        <a class="button-primary button-small button-dark-red" href="{{ path('app_trick_comment_delete', { 'id': comment.id }) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                                    </div>
                                {% endif %}

                            </div>
                            <p class="date">Le {{ comment.creationDate|date("d/m/Y") }}</p>
                            <p class="content">{{ comment.content }}</p>
                        </div>

                        {% if loop.index is divisible by(commentsPerPage) %}
                            {% set page = page + 1 %}
                        {% endif %}
                    {% endfor %}

                </div>

            {% else %}
                <div class="information">
                    <p>Il n'y a pas de commentaires à afficher.</p>
                </div>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                {{ include('trick/_add_comment_form.html.twig') }}
            {% else %}
                <div class="information">
                    <p>Veuillez vous connecter pour laisser un commentaire.</p>
                </div>
            {% endif %}

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
    <script src="{{ asset('js/load-more-comments.js') }}"></script>
{% endblock %}